@font-face {
   font-family: "Roboto";
   src: url("./fonts/Roboto-Thin.ttf") format("truetype");
   font-weight: 100;
   font-style: light;
}

@font-face {
   font-family: "Roboto";
   src: url("./fonts/Roboto-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: light;
}

@font-face {
   font-family: "Roboto";
   src: url("./fonts/Roboto-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: light;
}

body {
   height: 200px;
   width: 200px;
   background-image: url("./images/wall.png");
   background-size: cover;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 5% 1fr min-content 25% 15% 1fr;
}

.logo {
   height: 60px;
   width: 60px;
   margin: 0px auto;
   background-image: url("./images/128.png");
   background-size: cover;
   border: 10px;
   border-color: white;

   grid-column: 1 / -1;
   grid-row: 2 / 3;
}

h1,
p,
button {
   font-family: "Roboto";
   font-weight: 100;
   color: rgb(58, 58, 58);
   margin-top: 0px;
   margin-bottom: 0px;
}

button {
   height: 50px;
   width: 50px;
   outline: none;
   border-top: 10p;
}

.main {
   font-size: 20px;
   font-weight: 700;
   margin: 10px auto;

   grid-column: 1 / -1;
   grid-row: 3 / 4;
}

.buttons {
   margin: 0px;

   grid-column: 1 / -1;
   grid-row: 4 / 5;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.button {
   height: min-content;
   width: 27px;
   background-color: white;
   border-radius: 2px;
   margin: auto;
   padding: 10px 15px;

   box-shadow: 2px 2px 2px rgba(139, 139, 139, 0.521);

   font-family: "Roboto";
   color: rgb(53, 53, 53);
   font-size: 15px;
   font-weight: 700;
}

p {
   margin: auto;
   font-size: 14px;
   font-weight: 700;

   grid-column: 1 / -1;
   grid-row: 5 / 6;
}
