@font-face {
   font-family: "Roboto";
   src: url("./fonts/Roboto-Thin.ttf") format("truetype");
   font-weight: 100;
   font-style: light;
}

@font-face {
   font-family: "Roboto";
   src: url("./fonts/Roboto-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: light;
}

@font-face {
   font-family: "Roboto";
   src: url("./fonts/Roboto-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: light;
}

body {
   height: 200px;
   width: 200px;
   background-image: url("./images/wall.png");
   background-size: cover;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 5% min-content 5% 40px 40px 40px 5%;
}

.logo {
   position: relative;
   left: 20px;
   height: 60px;
   width: 60px;
   background-image: url("./images/128.png");
   background-size: cover;
   border: 10px;
   border-color: white;

   grid-column: 1 / 2;
   grid-row: 2 / 3;
}

h1,
p,
a,
button {
   font-family: "Roboto";
   font-weight: 100;
   color: rgb(58, 58, 58);
   margin-top: 0px;
   margin-bottom: 0px;
}

button {
   height: 50px;
   width: 50px;
   outline: none;
   border-top: 10p;
}

.main {
   font-size: 20px;
   font-weight: 700;
   margin: auto;

   grid-column: 2 / -1;
   grid-row: 2 / 3;
}

a {
   margin: auto;
   font-size: 10px;
   font-weight: 700;
   color: rgb(11, 140, 214);

   grid-column: 1 / -1;
   grid-row: 6 / 7;
}

.buttons {
   margin: 0px;

   grid-column: 1 / -1;
   grid-row: 5 / 6;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.button {
   position: relative;
   top: 0px;
   height: min-content;
   width: 27px;
   background-color: white;
   border-radius: 2px;
   margin: auto;
   padding: 10px 15px;
   user-select: none;

   box-shadow: 1px 4px 6px rgba(139, 139, 139, 0.521);

   font-family: "Roboto";
   color: rgb(53, 53, 53);
   font-size: 15px;
   font-weight: 700;

   transition-property: background-color, color, top, box-shadow;
   transition-duration: 0.2s;
   transition-timing-function: cubic-bezier(0.6, 0.15, 0.56, 0.74);
}

.button:hover {
   background-color: rgb(39, 131, 218);
   color: rgb(255, 255, 255);
}

.button:active {
   transition-duration: 0.03;
   transition-timing-function: ease;
   box-shadow: 1px 2px 2px rgba(77, 77, 77, 0.521);
   top: 4px;
}

p {
   margin: auto;
   font-size: 14px;
   font-weight: 700;

   grid-column: 1 / -1;
   grid-row: 4 / 5;

   transition-duration: 0.2s;
   transition-property: color;
}
